.carousel-caption {
    top: 50%;
    bottom: 50%
}

.row-header{
    height: 100px;
}
h1 {
    font-size:xx-large;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

h2 {
    font-weight: bolder !important;
    font-style: italic !important;
    font-size: 72px !important;
    

}